body{
line-height: 145%;

}
.container{
    width: 100%; height: 100%; position: relative; background: white
}
.navbar {
    width: 1440px; height: 150px; left: 0px; top: 0px; position: absolute; background: #2474AE
}
.ucla-img {
    width: 198px; height: 170px; left: 1242px; top: -10px; position: absolute
}
.geo-img {
    width: 163px; height: 115px; left: 26px; top: 18px; position: absolute
}
.title {
    width: 721px; height: 150px; left: 359px; top: 30px; position: absolute; text-align: center; color: white; font-size: 56px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.abstract-title {
    left: 82px; top: 668px; position: absolute; color: black; font-size: 56px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.intro-title {
    left: 80px; top: 1045px; position: absolute; color: black; font-size: 56px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.arda-mail {
    left: 373px; top: 616px; position: absolute; color: black; font-size: 32px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.arda-uni {
    left: 324px; top: 589px; position: absolute; color: black; font-size: 32px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.arda-title {
    left: 407px; top: 557px; position: absolute; color: black; font-size: 32px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.koc-title {
    left: 955px; top: 557px; position: absolute; color: black; font-size: 32px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.koc-name {
    left: 909px; top: 514px; position: absolute; color: black; font-size: 50px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.arda-name {
    left: 394px; top: 514px; position: absolute; color: black; font-size: 50px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.koc-uni {
    left: 896px; top: 589px; position: absolute; color: black; font-size: 32px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.koc-mail {
    left: 943px; top: 616px; position: absolute; color: black; font-size: 32px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.abstract-main {
    width: 1280px; height: 293px; left: 80px; top: 724px; position: absolute; text-align: justify; color: black; font-size: 16px; font-family: Jost; font-style: italic; font-weight: 400; word-wrap: break-word
}
.intro-main {
    width: 600px; left: 80px; top: 1098px; position: absolute; text-align: justify; color: black; font-size: 16px; font-family: Jost; font-style: italic; font-weight: 400; word-wrap: break-word
}
.line-1 {
    width: 1440px; height: 0px; left: 0px; top: 1024px; position: absolute; border: 3px black solid
}
.line-2 {
    width: 1440px; height: 0px; left: 0px; top: 2048px; position: absolute; border: 3px black solid
}
.line-3 {
    width: 1440px; height: 0px; left: 0px; top: 3072px; position: absolute; border: 3px black solid
}
.line-4 {
    width: 1440px; height: 0px; left: 0px; top: 4096px; position: absolute; border: 3px black solid
}
.line-5 {
    width: 1440px; height: 0px; left: 0px; top: 5120px; position: absolute; border: 3px black solid
}
.line-6 {
    width: 1440px; height: 0px; left: 0px; top: 6144px; position: absolute; border: 3px black solid
}
.mani-1 {
    width: 275px; height: 214.30px; left: 80px; top: 1783px; position: absolute
}
.mani-2 {
    width: 275px; height: 194.58px; left: 380px; top: 1793px; position: absolute
}
.mani-def {
    width: 600px; left: 80px; top: 2006px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Jost; font-style: italic; font-weight: 400; word-wrap: break-word
}
.title-2 {
    left: 760px; top: 1045px; position: absolute; color: black; font-size: 56px; font-family: Jomhuria; font-weight: 400; word-wrap: break-word
}
.para-1 {
    width: 600px; left: 760px; top: 1775px; position: absolute; text-align: justify; color: black; font-size: 16px; font-family: Jost; font-style: italic; font-weight: 400; word-wrap: break-word
}
.para-2 {
    width: 600px; left: 760px; top: 1340px; position: absolute; text-align: justify; color: black; font-size: 16px; font-family: Jost; font-style: italic; font-weight: 400; word-wrap: break-word
}
.para-3 {
    width: 600px; left: 760px; top: 1108px; position: absolute; text-align: justify; color: black; font-size: 16px; font-family: Jost; font-style: italic; font-weight: 400; word-wrap: break-word
}
.table-1 {
    width: 500px; height: 147.90px; left: 810px; top: 1184px; position: absolute
}